@font-face {
  font-family: Tiempos Headline;
  src: url(./fonts/TiemposHeadlineTest-Semibold.woff);
}

@font-face {
  font-family: Walfork;
  src: url(./fonts/Walfork-Demi.woff);
}

@font-face {
  font-family: Walfork;
  src: url(./fonts/Walfork-Regular.woff);
}

@font-face {
  font-family: Tiempos Light;
  src: url(./fonts/TiemposHeadlineTest-Light.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Walfork";
  width: 100vw;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 10vh;
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

svg.logo {
  width: 30vw;
  fill: white;
}

nav {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  background-color: white;
  width: 100vw;
  height: 10vh;
  padding: 4vh 0 3vh;
  transition: color .15s;
  cursor: pointer;
}

nav>ul {
  display: flex;
  align-content: space-between;
  margin: 0;
  padding: 0;
}

.top>li {
  display: inline;
  width: 25%;
}

.top>li:hover {
  color: orangered;
}

main {
  margin-bottom: 10vh;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

article {
  background-color: white;
  color: 1A1A1A;
  width: 85vw;
  margin: 4vh 0 3vh 0;
  box-shadow: 5px 5px 15px whitesmoke;
}

h2 {
  text-transform: capitalize;
  font-family: "Tiempos Headline";
  font-size: 2.8rem;
  line-height: 1.25;
  padding: 4% 5% 3%;
}

img {
  display: block;
  position: relative;
  /* right: 8vw; */
  width: 85vw;
  object-fit: cover;
  height: auto;
  padding: 1vh 0 3vh 0;
}

ul.byline {
  list-style: none;
  padding: 5%;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.byline>li {
  display: inline;
}

li.date {
  color: #b3b3b3;
}

p {
  color: #222;
}

.introduction {
  font-family: "Walfork";
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 3% 5% 3%;
}

.content {
  display: block;
  padding: 5%;
  font-family: "Tiempos Light";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.875;
  letter-spacing: normal;
}

.likes {
  padding: 5%;
  font-size: 0.8rem;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #eee;
}

ul.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 3rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-mobile>li {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 2vh;
  /* flex-direction: column; */
}

.navbar-mobile>li:nth-child(n + 2) {
  border-left: 1px solid #eee;
}

.home,
.share,
.player,
.search,
.menu {
  width: 5vw;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}

@media only screen and (min-width: 600px) {

  header {
    height: 20vh;
    padding-top: 7vh;
    background-color: white;
  }

  svg.logo {
    width: 20vw;
    fill: black;
  }

  article {
    width: 60vw;
  }

  h2 {
    font-size: 4rem;
  }

  img {
    width: 60vw;
    height: auto;
  }

  /* .content {
    font-size: 1rem;
  } */

  ul.navbar-mobile {
    display: none;
  }
